### Acadgild Assignment 14.1

Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Task:
1. Create an sqlalchemy engine using a sample from the data set
2. Write two basic update queries
3. Write two delete queries
4. Write two filter queries
5. Write two function queries

In [ ]:
# Import
import random
import numpy as np
import pandas as pd
import sqlite3
from Ipython.display import display

#### Read the Dataset and show the first few rows

In [ ]:
adult_data_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')
display(adult_data_df.head(3))

#### Insert some column names for cleanliness

In [ ]:
adult_data_df.columns =["age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country","income"]
display(adult_data_df.head(3))

#### Start Your Engines!

In [ ]:
import sqlalchemy

from sqlalchemy import create_engine

engine = create_engine('sqlite:///sqladb', echo=False)

In [ ]:
adult_data_df.to_sql('sqladb', engine, if_exists='replace')

In [ ]:
connection = sqlite3.connect("sqladb")
cursor = connection.cursor()

#### Question 1: Write two basic update queries

In [ ]:
cursor.execute('UPDATE sqladb SET fnlwgt = "7777" WHERE fnlwgt = " 83311"')
print(pd.read_sql_query("SELECT * FROM sqladb", connection).head(2))

In [ ]:
cursor.execute('UPDATE sqladb SET education = "High_School" WHERE education = " HS-grad"')
print(pd.read_sql_query("SELECT * FROM sqladb", connection).tail(7))

#### Question 2: Write two delete queries

In [ ]:
cursor.execute('DELETE FROM sqladb WHERE fnlwgt = " 7777"')
print(pd.read_sql_query("SELECT * FROM sqladb", connection).head(2))

In [ ]:
cursor.execute('DELETE FROM sqladb WHERE age = " 38" AND fnlwgt = " 215646" and race = " White" and hours_per_week > 39')
print(pd.read_sql_query("SELECT * FROM sqladb", connection).head(2))

#### Question 3: Write Two Filter Queries

In [ ]:
cursor.execute('SELECT DISTINCT * FROM sqladb WHERE relationship = " Wife" AND age < 30 AND workclass = " Private" and native_country=" India"')
output = cursor.fetchall()
print(output)

In [ ]:
cursor.execute('SELECT * FROM sqladb WHERE relationship = " Unmarried" AND age > 21 AND age < 30 AND sex = " Female" AND native_country=" Mexico"')
output = cursor.fetchall()
print(output)

#### Question 4: Write two function queries

In [ ]:

def new_entry(db_file, new_data):
    
    query = "INSERT INTO sqladb VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);"

    cursor.execute(query, list(new_data))
    cursor.close()
    connection.close()

new_entry('sqladb',('32557', '50','Private', '384675', 'HS-grad', '9', 'Divorced', 'Executive', 'Not-in-family', 'White', 'Male', '0', '0', '40', 'United-States', '>=50K'))

In [ ]:

def age_check():
    connection = sqlite3.connect("sqladb")
    cursor = connection.cursor()
    cursor.execute('SELECT avg(age) FROM sqladb WHERE marital_status=" Never-married" AND sex=" Female"')
    output = cursor.fetchall()
    print(output)    
    connection.close()

age_check()

In [ ]:
connection.close()